@use "../../../scss/mixin.scss" as *;
@use'../../../scss/variable.scss' as *;
.breadcrumbsWrap {
    padding: 0;
    margin-bottom: size(20);

    .breadcrumbList {
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: size(10);

        .bredcrumbContent {
            .breadcrumbLink {
                font-family: var(--font);
                font-size: size(18);
                font-weight: 600;
                line-height: size(20);
                text-decoration: none;
                color: (--tabActiveColor);
                &.active {
                    color: var(--color-text-secondary);
                    font-weight: 500;
                }
            }
            &:last-child:not(.contextName) {
               
                .breadcrumbLink {
                    color: var(--tabActiveColor);
                    cursor: default;
                }
            }
            .separator {
                margin-left: size(8);
                color: var(--color-border);
                display: inline-block;
                vertical-align: middle;
            }
            .breadcrumbContext {
                color: var(--color-text-primary);
                font-size: size(18);
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .breadcrumbsWrap {
        .breadcrumbList {
            gap: size(10);
            .bredcrumbContent {
                
                .separator {
                    margin-left: size(8);
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .breadcrumbsWrap {
        .breadcrumbList {
            gap: size(4);
            .bredcrumbContent {
                .breadcrumbLink {
                    font-size: size(18);
                }
                .separator {
                    margin-left: size(4);
                }
            }
        }
    }
}
