@use "../../../scss/mixin.scss" as *;

.RootPageMainWrapper {
  width: 100%;
  height: 100%;

  .RootInnerMainWrapper {
    width: 100%;
    height: calc(100% - var(--shell-header-height));
    display: flex;
    align-items: flex-start;
    transition: all 0.3s ease-in;
    .innerLayoutMainWrapper {
      width: 100%;
      margin-left: 0;
      overflow-y: auto;
      padding: 28px 32px 40px 80px;
      background-image: none;
      background-color: var(--color-bg-primary);
    }
  }
}
