:root {
  --colorPrimary: #23679D;
  --colorSecondary: #3a4f5f;
  --colorError: #ff5f30;
  --disableFontColor: #ABB3BA;

  --textColor: #3A4F5F;
  --cardBackground: #F8F9F9;
  --btnColor: #2A7BBB;
  --btnColorLight:#2A7BBB1A;

  --white: #ffffff;
  --black: #000000;
  --cardBg: #f9f9fc;
  --inputBorderColor: #d1d1d1;
  --tabBorderColor: #f1f4fa;
  --tableBorder: #d3dae6;
  --headerCardBg: #f7fbff;
  --labelColor: #3A4F5F;
  --inputTextColor: #101828;
  --radioLabelColor: #081017;
  --colorPrimaryDark: #2a7bbb;
  --stepperDisableBg: #e9eced;
  --stepperBg: #1d547f;
  --disableBg: #abb3ba;
  --tabTextColor: #69707d;
  --tabActiveColor: #3A4F5F;
  --lightBorder: #d0d5dd;
  --tableLink: #2A7BBB;
  --placeholderTextColor: #3A4F5F;
  --errorText: rgba(255, 95, 48, 1);
  --warn: #fe9820;
  --danger: #f93232;
  --success: #28c879;
  --darkText: #3a4f5f;
  --infoText: #85929c;
  --borderGray  : #bdc4ca;
  --darkBg: #f1f3f4;
  --keyText: #60707D;
  --appText: #152D40;

  --subText: #646464;
  --subTextLight: #cecfcf;
  --grey: #a1a1a6;
  --gray: #f5f5f7;

  --accountsBg: #131313;
  --accountsCardBg: #1d1d1d;

  --lightBlack: #282828;
  --partnerLabelColor: #565656;

  --primaryDark: #1a5be1;
  --primaryLight: #6b9cff;
  --btnBlackBg: #343741;
  --darkBlueText: #2a7cbc;
  --darkGrayBg: #d6fdff;
  --checkboxLabelText: #98a0b4;
  --filterTitleText: #4b4b4b;
  --borderDarkGray: #d4d7e3;
  --breadcrumbActiveText: #85929C;
  --mainBg: #eeeeee;
  --layoutBg: #E0E0E8;
  --titleDarkColor: #151d48;
  --font: "Montserrat", sans-serif;
  --headerBg: #f8f9f9;
  --headerBorder: #EDECF2;
  --menuText: #60707d;
  --activeMenuText: #3a4f5f;
  --activeMenuBg: #d2e7ff;
  --modalBackdrop: #08101780;
  --hoverBg: #D2E7FF;
  --borderGrayBg: #bdc4ca;
  --inputColor: #3a4f5f;
}
